{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<head>
  <title>Polls</title>
</head>
<body>
  <div class="box">
    <center>
      <img
        src="https://www.501commons.org/blog/questions.png/image_preview"
        height="100"
        width="200"
        alt="Questions"
      />
    </center>

    {% if latest_question_list %}
    <ul class="q">
      {% for question in latest_question_list %}
      <li>
        <a href="{% url 'polls:detail' question.id %}">
          {{ question.question_text }}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
  </div>
</body>
